@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.button {
  background: #3a4346;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 7px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  /* identical to box height */
  color: #ffffff;
  text-align: center;

  width: 65%;

  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}
